.title-holder {
    display: flex;
    justify-content: left;
    align-items: center;
    border-bottom: 1px solid black;
    position: relative;
}

.logo {
    /* position: absolute; */
    padding-left: 15px; 
}

.title {
    font-size: 18px;
    /* font-family: 'Open Sans', sans-serif; */
}

* {
    /* background-color: #FAF3F3; */
    /* font-family: 'Cairo', sans-serif; */
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    font-size: 15px;
    padding-bottom: 30px;
}
.footer span {
    padding-left: 10px;
    padding-right: 10px;
}