<div class="modal-header">
    <h4 class="modal-title">Export Tasks</h4>
    <button type="button" class="btn btn-danger" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
        <fa-icon class="back-icon" [icon]="closeIcon" size="1x"></fa-icon>
    </button>
</div>
<div class="modal-body">
    <form [formGroup]="form">
        <div class="export-dates">
            <span style="font-size: 20px;">Select Date Of Attendance</span>
            <input formControlName="attendanceDate" class="date-control" type="date" [max]="maxDate">
        </div>
    </form>
</div>

<div class="modal-footer">
    <div class="d-flex justify-content-center" *ngIf="loading">
        <fa-icon [icon]="spinnerIcon" [spin]="true" [styles]="{'stroke': 'red', 'color': '#656362'}" size="2x"></fa-icon>
    </div>
    <button *ngIf="!loading" type="button" class="btn btn-secondary"
        (click)="activeModal.close(false)">Cancel</button>
    <button *ngIf="!loading" type="button" class="btn btn-primary" (click)="export()">Export</button>
</div>